/**/

/*
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); */
/* make transparent link selection, adjust last value opacity 0 to 1.0 */


html, body {
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
}


#map {
    height: 100%;
	width: 100%;
}

#menu-button { position:absolute; top:20px; left:10px; }
#goal-button { position:absolute; bottom:70px; right:10px; }
#location-button { position:absolute; bottom:25px; right:10px; }
.btn-floating.white i { color: #9e9e9e; }

#goal-button.tracking { bottom:105px; }
#location-button.tracking { bottom:60px; }

#goal-modal-row { margin-bottom:0; }
#goal-modal-content { padding-bottom:0; }
#goal-modal-add { margin-right:10px; margin-bottom:10px; }



#slide-out { padding-top: 20px; }
.track-nav {
    display: none;
}

#footer-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    display: none;
}

#footer-bar div {
    display: inline-block;
    width: 24%;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
    vertical-align: middle;
    color: #757575;
    font-size: 12px;
    line-height: 12px;
}

#footer-bar div span {
    color: #212121;
    font-size: 20px;
    line-height: 20px;
}
